.card{
    border-radius: 20px !important;
    box-shadow: 5px 10px rgb(238, 199, 23);
    ;
}

.card-header{
    text-align: center !important;
    font-weight: bold !important;
}

.card-text{
    font-size: 22px !important ; 
}